<div id="mySidebar" class="sidebar">
    <!-- SITE'S ICON IS MISSING -->
    <a href="/index">&nbsp;&nbsp;&nbsp;&nbsp;Poules</a><br> <!-- CHANGE ICON-->
    <a href="#"></span>&nbsp;&nbsp;&nbsp;&nbsp;Couvaison</a></span> <!-- CHANGE ICON-->
    </a><br>
</div>